.tree-wrapper {
    position: relative;
}

.tree-hierarchy-line {
    position: absolute;
    left: 0;
    width: 1px;
    border-left: 1px solid #777;
    bottom: 10px;
    top: 0;
}

ul.tree {
    padding-left: 40px;
}

li {
    list-style: none;
}

.tree-connector-line {
    width: 35px;
    border-top: 1px solid #777;
    display: inline-block;
    height: 5px;
    margin-left: -40px;
}

.resource {
    padding: 5px;
}

.file-header {
    font-style: italic;
}

.size {
    font-style: oblique;
}

#resources {
    border-right: solid 1px;
}

#tree {
    margin-left: 100px;
}

#head {
    padding: 20px;
}

#drawTree {
    margin-left: 30%;
    margin-bottom: 30px;
}
